* source: https://docs.sqlalchemy.org/en/13/orm/tutorial.html

## Version Check

In [17]:
import sqlalchemy
sqlalchemy.__version__

'1.3.11'

## Connecting

In [18]:
#we are using an in-memory-only SQLite database
from sqlalchemy import create_engine
#engine = create_engine('sqlite:///:memory:', echo=True)
#or, using the postgresql initialized by dokcer
engine = create_engine('postgresql://vsantos93:swordfish@localhost:5432/teste', echo=True)

## Declare a Mapping

In [3]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [19]:
#From now on we can create classes
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker

class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)
    
    def __repr__(self):
        return "<User(name='%s', fullname='%s', nickname='%s')>" %(
                        self.name, self.fullname, self.nickname)

engine = create_engine('postgresql://vsantos93:swordfish@localhost:5432/teste', echo=True)
Base.metadata.create_all(bind=engine)
#creating a Session
Session = sessionmaker(bind=engine)
session = Session()
session.commit()
session.close()
"""The MetaData is a registry which includes the ability to emit a limited set of
schema generation commands to the database. As our SQLite database does not actually 
have a users table present, we can use MetaData to issue CREATE TABLE statements to
the database for all tables that don’t yet exist. Below, we call the 
MetaData.create_all() method, passing in our Engine as a source of database connectivity"""

InvalidRequestError: Table 'users' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

## Create an Instance of the Mapped Class

In [20]:
a_user = User(name='Victor', fullname='Victos Santos Silva', nickname='vsantos')
print(a_user.name)
print(a_user.nickname)
print(str(a_user.id))

Victor
vsantos
None

## Adding and Updating Objects

In [21]:
session.add(a_user)
my_user = session.query(User).filter_by(name='Victor').first()
print(my_user)
print(type(my_user))#it is a class
print(a_user == my_user)

2019-12-18 11:15:16,287 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s) RETURNING users.id
2019-12-18 11:15:16,290 INFO sqlalchemy.engine.base.Engine {'name': 'Victor', 'fullname': 'Victos Santos Silva', 'nickname': 'vsantos'}
2019-12-18 11:15:16,293 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = %(name_1)s
 LIMIT %(param_1)s
2019-12-18 11:15:16,295 INFO sqlalchemy.engine.base.Engine {'name_1': 'Victor', 'param_1': 1}
<User(name='Victor', fullname='Victos Santos Silva', nickname='vsantos')>
<class '__main__.User'>
True

In [41]:
#adding many objects
session.add_all([
    User(name='José', fullname='José Carlos', nickname='jcarlos'),
    User(name='Suelen', fullname='Suelen Simões', nickname='mozi'),
    User(name='Noob', fullname='Noob Hugo', nickname='nubaum')])
session.commit()#to save this action

2019-12-18 11:36:34,868 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s) RETURNING users.id
2019-12-18 11:36:34,870 INFO sqlalchemy.engine.base.Engine {'name': 'José', 'fullname': 'José Carlos', 'nickname': 'jcarlos'}
2019-12-18 11:36:34,873 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s) RETURNING users.id
2019-12-18 11:36:34,875 INFO sqlalchemy.engine.base.Engine {'name': 'Suelen', 'fullname': 'Suelen Simões', 'nickname': 'mozi'}
2019-12-18 11:36:34,878 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s) RETURNING users.id
2019-12-18 11:36:34,880 INFO sqlalchemy.engine.base.Engine {'name': 'Noob', 'fullname': 'Noob Hugo', 'nickname': 'nubaum'}
2019-12-18 11:36:34,883 INFO sqlalchemy.engine.base.Engine COMMIT

In [21]:
print(my_user.id)
"""If we look at Ed’s id attribute, which earlier was None, it now has a value(1)"""

1

In [25]:
my_user = session.query(User).filter_by(name='Victor').first()
print(my_user.name)
my_user.name = 'Suelen'
print(my_user.name)

Victor
Suelen

In [31]:
#Updating user
new_user = session.query(User).filter_by(id=1).first()
print(new_user)

2019-12-18 11:22:15,064 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.id = %(id_1)s
 LIMIT %(param_1)s
2019-12-18 11:22:15,075 INFO sqlalchemy.engine.base.Engine {'id_1': 1, 'param_1': 1}
<User(name='José', fullname='José Carlos', nickname='jcarlos')>

In [33]:
print(new_user.name)
new_user.name = 'Carlos'
print(new_user)

José
<User(name='Carlos', fullname='José Carlos', nickname='jcarlos')>

In [34]:
session.commit()

2019-12-18 11:24:13,495 INFO sqlalchemy.engine.base.Engine UPDATE users SET name=%(name)s WHERE users.id = %(users_id)s
2019-12-18 11:24:13,499 INFO sqlalchemy.engine.base.Engine {'name': 'Carlos', 'users_id': 1}
2019-12-18 11:24:13,508 INFO sqlalchemy.engine.base.Engine COMMIT

In [35]:
new_user = session.query(User).filter_by(id=1).first()
print(new_user)
#see the changes in the name, from José to Carlos

2019-12-18 11:24:34,051 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-18 11:24:34,055 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.id = %(id_1)s
 LIMIT %(param_1)s
2019-12-18 11:24:34,057 INFO sqlalchemy.engine.base.Engine {'id_1': 1, 'param_1': 1}
<User(name='Carlos', fullname='José Carlos', nickname='jcarlos')>

## Rolling Back

In [23]:
#my_user.name = 'Eduardo'
#fake_user = User(name='fakeuser', fullname='Invalid', nickname='12345')
#session.add(fake_user)
print(session.query(User).filter(User.name.in_(['Eduardo', 'fakeuser'])).all())

2019-12-16 13:26:01,506 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name IN (%(name_1)s, %(name_2)s)
2019-12-16 13:26:01,515 INFO sqlalchemy.engine.base.Engine {'name_1': 'Eduardo', 'name_2': 'fakeuser'}
[<User(name='Eduardo', fullname='Victos Santos Silva', nickname='vsantos')>, <User(name='fakeuser', fullname='Invalid', nickname='12345')>]

In [26]:
print(fake_user in session)
print('Eduardo' in my_user.name)

True
True

In [28]:
session.rollback()
print(fake_user in session)
print('Eduardo' in my_user.name)

False
False

## Querying

In [42]:
for instance in session.query(User).order_by(-User.id):
    print(instance.name, instance.id)

2019-12-18 11:36:50,541 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-18 11:36:50,545 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users ORDER BY -users.id
2019-12-18 11:36:50,547 INFO sqlalchemy.engine.base.Engine {}
Noob 10
Suelen 9
José 8

In [44]:
for name, id in session.query(User.name, User.id).order_by(-User.id):
    print(name, id)

2019-12-18 11:37:26,918 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name, users.id AS users_id
FROM users ORDER BY -users.id
2019-12-18 11:37:26,920 INFO sqlalchemy.engine.base.Engine {}
Noob 10
Suelen 9
José 8

In [46]:
for obj in session.query(User).order_by(User.id)[0:]:
    print(obj)

2019-12-18 11:41:03,390 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users ORDER BY users.id
2019-12-18 11:41:03,392 INFO sqlalchemy.engine.base.Engine {}
<User(name='José', fullname='José Carlos', nickname='jcarlos')>
<User(name='Suelen', fullname='Suelen Simões', nickname='mozi')>
<User(name='Noob', fullname='Noob Hugo', nickname='nubaum')>

## Deleting

In [57]:
session.query(User).filter_by(name='José').count()

2019-12-18 12:15:17,735 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = %(name_1)s) AS anon_1
2019-12-18 12:15:17,737 INFO sqlalchemy.engine.base.Engine {'name_1': 'José'}

1

In [62]:
jose = session.query(User).filter_by(name='José').first()
print(jose)

<User(name='José', fullname='José Carlos', nickname='jcarlos')>

In [64]:
session.delete(jose)
session.commit()

2019-12-18 12:18:03,916 INFO sqlalchemy.engine.base.Engine DELETE FROM users WHERE users.id = %(id)s
2019-12-18 12:18:03,923 INFO sqlalchemy.engine.base.Engine {'id': 8}
2019-12-18 12:18:04,053 INFO sqlalchemy.engine.base.Engine COMMIT

In [65]:
print(jose)

<User(name='José', fullname='José Carlos', nickname='jcarlos')>

In [66]:
print(session.query(User).filter_by(name='José').first())

2019-12-18 12:18:43,945 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-18 12:18:43,949 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = %(name_1)s
 LIMIT %(param_1)s
2019-12-18 12:18:43,951 INFO sqlalchemy.engine.base.Engine {'name_1': 'José', 'param_1': 1}
None

In [68]:
jose = session.query(User).filter_by(name='José').first()
print(jose)
"""José has been deleted"""

2019-12-18 12:19:36,028 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = %(name_1)s
 LIMIT %(param_1)s
2019-12-18 12:19:36,030 INFO sqlalchemy.engine.base.Engine {'name_1': 'José', 'param_1': 1}
None